<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xionghaotian.mpyx.product.mapper.BrandMapper">

    <resultMap id="brandMap" type="com.xionghaotian.entity.product.Brand" autoMapping="true">
    </resultMap>


    <select id="findAll" resultMap="brandMap">
        select *
        from brand
        where is_deleted = 0
        order by id desc
    </select>

</mapper>